body {
  background: #f8f8fa;
  box-sizing: content-box;
}

.menu {
  position: fixed;
  height: 100vh;
  background: #0b0529;
  width: 10vw;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.menu:hover {
  width: 40vw;
}
.menu:hover ~ .container {
  transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2);
}
.menu:hover nav {
  left: 20%;
}

.container {
  width: 90%;
  margin-left: 10vw;
  background: #FDFDFD;
  transition: 1s;
  transform-origin: left center;
  color: #D2D2D0;
}
.container .content {
  padding: 100px 20%;
}

nav {
  position: relative;
  margin-top: 50%;
  left: -1000px;
  transition: 0.5s;
}
nav ul {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
}
nav li {
  line-height: 2em;
  letter-spacing: 0.3em;
}
nav a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
nav a:hover {
  color: #eee;
}

p {
  line-height: 1.5em;
}

h1 {
  color: #bbb;
}